.page-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    margin: auto;
    max-width: 800px; 
    min-height: 100vh; 
}

.main-content {
    flex: 1;
}

section {
    margin-bottom: 2rem;
}

h1, h2, h3, h4, p {
    margin: 0 0 1rem 0;
}

.developer-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.developer-info div {
    flex: 1;
    min-width: 200px; /* Ensure minimum width for columns */
}

.developer-info ul {
    list-style: none;
    padding: 0;
}

footer {
    margin-top: 2rem;
    text-align: center;
}

/* Responsive styles */
@media screen and (min-width: 768px) {
    .page-container h1 {
        font-size: 2.25rem;
    }
    .page-container p {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1024px) {
    .page-container h1 {
        font-size: 2.5rem;
    }
}