/* main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex: 1 1 50%;
    background-color: orange;
}

.page-left, .page-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    padding: 1rem;
} */