@import "../styles/Buttons.css";

main {
    /* Centres the content horizontally and vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

nav {
    /* Arranges the nav links vertically */
    display: flex;
    flex-direction: column;
}

