/* Custom font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');


html.dark-mode {
  filter: invert(1) opacity(90%); /* Opacity makes it a bit less harsh */
}

body {
  margin: 0;
  min-height: 100dvh; /* Ensures body takes minimum full height of the viewport */
  /* Centres content horizontally and vertically */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "Cabin Sketch", sans-serif; /* Custom font */
  font-weight: 700;
  color: black;
  background-color: #FFFCEB;
}

#root {
  /* Centers content within the root element */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /* Allows it to grow and fill the remaining space */
}